<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063858542021-40enaef1hm0cuut7rr34d50i4p35po88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063858542021-40enaef1hm0cuut7rr34d50i4p35po88</string>
	<key>API_KEY</key>
	<string>AIzaSyDCKWxELiEORo1tF-a3kDkzr3BcSW_k-08</string>
	<key>GCM_SENDER_ID</key>
	<string>1063858542021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mproject</string>
	<key>PROJECT_ID</key>
	<string>majorproject-1c258</string>
	<key>STORAGE_BUCKET</key>
	<string>majorproject-1c258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063858542021:ios:1a4af1aec3241d3ab827ac</string>
	<key>DATABASE_URL</key>
	<string>https://majorproject-1c258.firebaseio.com</string>
</dict>
</plist>